[build]
    command = "npm run build"
    publish = "dist"

[[redirects]]
    from = "/_app/*"
    to = "/_app/:splat"
    status = 200

[[headers]]
    for = "/sw.js"
    [headers.values]
    Cache-Control = "no-cache"
